* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.formulario_iniciar_sesion {
  border: 2px solid black;
  border-radius: 10px;
  width: 50vw;
}

.form-control {
  margin: 2rem 0px;
}

.btn {
  padding: 0.6rem 3rem;
}

.btn_formulario_iniciar_sesion {
  display: flex;
  justify-content: space-between;
}